@model IEnumerable<DoAn_Nhom3.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HomeAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quyen.Quyen_Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quyen.Quyen_Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_KhachHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_KhachHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_KhachHang })
        </td>
    </tr>
}

</table>
