
@{
    ViewBag.Title = "ThongTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DoAn_Nhom3.Models.ThongTin>
<!DOCTYPE html>
<html>
<head>
    <title>Thông tin về sản phẩm nội thất</title>
    <!link rel="stylesheet" href="~/Content/StyleSheet1.css">
</head>
<style>
        
</style>
<body>
    <h1>Giới thiệu về sản phẩm nội thất</h1>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <h2>@Html.DisplayFor(model => item.Ten)</h2>
            <p>@Html.DisplayFor(model => item.noidung)</p>
            <div align="center">
                <img src="@Url.Content(item.Hinh)" style="width:300px;height:400px" alt="Sofa">
                <img src="@Url.Content(item.Hinh2)" style="width:300px;height:400px" alt="Sofa">
                <img src="@Url.Content(item.Hinh3)" style="width:300px;height:400px" alt="Sofa">
            </div>
            <p>@Html.DisplayFor(model => item.NoiDung2)</p>

        }
    }
    <section class="info_section layout_padding2" style="color:white">
        <div class="container" style="background-color:black">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_contact">
                        <h4>
                            Contact
                        </h4>
                        <div class="box">
                            <div class="img-box">
                                <img src="images/telephone-symbol-button.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    +01 123567894
                                </h6>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img-box">
                                <img src="images/email.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    demo@gmail
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_menu">
                        <h4>
                            Menu
                        </h4>
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html"> About </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="buy.html"> Online Buy </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info_news">
                        <h4>
                            newsletter
                        </h4>
                        <form action="">
                            <input type="text" placeholder="Enter Your email">
                            <div class="d-flex justify-content-center justify-content-end mt-3">
                                <button style="background-color:aqua;color:white">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
